listen:
  address: 0.0.0.0
  port: 8080
## use TLS.
#  tls:
#    certFilePath: cmd/rikka/server.crt
#    keyFilePath: cmd/rikka/server.key
cors:
  origins:
    - http://localhost:3000
## Cookie Secure Flag
store:
  secure: false
  sameSiteStrictMode: false
notify:
  answer: https://hooks.slack.com/services/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
mariadb:
  address: mariadb
  port: 3306
  username: rikka
  password: rikka-password
  database: rikka
redis:
  idleConnectionSize: 10
  address: redis
  port: 6379
  keyPair: secret
seed:
  adminUserGroupAndUserSeeder:
    userGroupName: admin-group
    organization: admin-org
    invitationCode: test-invitation-code
    userName: admin
    userPassword: password
minio:
  endPoint:
  accessKeyID:
  secretAccessKey:
  useSSL:
