listen:
  address: 0.0.0.0
  port: 8080
# use TLS.
#  tls:
#    certFilePath: cmd/rikka/server.crt
#    keyFilePath: cmd/rikka/server.key
mariadb:
  address: mariadb
  port: 3306
  username: rikka
  password: rikka-password
  database: rikka
redis:
  idleConnectionSize: 10
  address: redis
  port: 6379
  keyPair: secret
