listen:
  address: 0.0.0.0
  port: 8080
## use TLS.
#  tls:
#    certFilePath: cmd/rikka/server.crt
#    keyFilePath: cmd/rikka/server.key
cors:
  origins:
    - http://localhost:3000
## Cookie Secure Flag
store:
  secure: false
  ## bool
  ## If lax, Lax
  ## If strict, Strict
  ## If none, None
  ## If empty, not set
  sameSiteStrictMode:
  domain:
notify:
  answer: http://localhost:8080
## answerLimit (value * time.Minute)
contest:
  answerLimit: 20
mariadb:
  address: mariadb
  port: 3306
  username: rikka
  password: rikka-password
  database: rikka
redis:
  idleConnectionSize: 10
  address: redis
  port: 6379
  keyPair: secret
seed:
  adminUserGroupAndUserSeeder:
    userGroupName: admin-group
    organization: admin-org
    invitationCode: test-invitation-code
    userName: admin
    userPassword: password
minio:
  endPoint:
  accessKeyID:
  secretAccessKey:
  useSSL:
