mariadb:
  address: localhost
  port: 3306
  username: rikka
  password: rikka-password
  database: rikka
redis:
  idleConnectionSize: 10
  address: localhost
  port: 6379
  keyPair:
growi:
  url:
  token:
  path:
  username:
  password:
